body {
	font-family: 'Roboto', sans-serif;
}

.upload {
	width: 500px;
	height: 100px;
	border: 2px dashed black;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 7.5in;
}

td, th {
	border: 1px solid #ccc;
	padding: 8px;
}

#errors,
#report {
	white-space: pre-wrap;
}
